params {
    sra_id    = null
    reads     = null
    reference = null
    samplesheet = null
    outdir    = "results"

    min_base_quality   = 20
    min_map_quality    = 20
    min_depth          = 5
    ploidy             = 2

    local_conda_prefix = null
}

process {
    cpus   = 4
    memory = '8.GB'
    time   = '4.h'

    withName: 'PREFETCH|FASTERQ_DUMP' {
        cpus   = 4
        memory = '4.GB'
        time   = '6.h'
    }
    withName: 'FASTQC_RAW|FASTQC_TRIM' {
        cpus   = 4
        memory = '4.GB'
        time   = '1.h'
    }
    withName: 'TRIMMOMATIC' {
        cpus   = 8
        memory = '8.GB'
        time   = '2.h'
    }
    withName: 'SPADES' {
        cpus   = 16
        memory = '32.GB'
        time   = '12.h'
    }
    withName: 'BWA_MEM' {
        cpus   = 16
        memory = '16.GB'
        time   = '4.h'
    }
    withName: 'SAMTOOLS_SORT|SAMTOOLS_INDEX|SAMTOOLS_DEPTH' {
        cpus   = 4
        memory = '8.GB'
        time   = '1.h'
    }
    withName: 'BCFTOOLS_MPILEUP|BCFTOOLS_CALL|BCFTOOLS_STATS' {
        cpus   = 8
        memory = '8.GB'
        time   = '4.h'
    }
    withName: 'BCFTOOLS_FILTER' {
        cpus   = 2
        memory = '4.GB'
        time   = '30.m'
    }
    withName: 'SUMMARIZE_GROUP' {
        cpus   = 2
        memory = '4.GB'
        time   = '30.m'
    }
}

profiles {

    local {
        conda.enabled = true

        process {
            executor = 'local'
            conda    = { params.local_conda_prefix
                           ?: error("Profile 'local' requires --local_conda_prefix <path>") }

            cpus   = 8
            memory = '16.GB'
            time   = '24.h'

            withName: 'SPADES' {
                cpus   = 8
                memory = '16.GB'
                time   = '12.h'
            }
            withName: 'BWA_MEM' {
                cpus   = 8
                memory = '16.GB'
                time   = '4.h'
            }
        }
    }

    cluster {
        conda.enabled = true

        process {
            executor       = 'slurm'
            queue          = 'main'
            clusterOptions = '--account=myproject'

            cpus   = 8
            memory = '16.GB'
            time   = '24.h'

            withName: 'PREFETCH|FASTERQ_DUMP' {
                cpus   = 4
                memory = '4.GB'
                time   = '12.h'
            }
            withName: 'FASTQC_RAW|FASTQC_TRIM' {
                cpus   = 4
                memory = '4.GB'
                time   = '1.h'
            }
            withName: 'TRIMMOMATIC' {
                cpus   = 16
                memory = '16.GB'
                time   = '4.h'
            }
            withName: 'SPADES' {
                cpus   = 32
                memory = '64.GB'
                time   = '24.h'
            }
            withName: 'BWA_MEM' {
                cpus   = 32
                memory = '32.GB'
                time   = '8.h'
            }
            withName: 'SAMTOOLS_SORT|SAMTOOLS_INDEX|SAMTOOLS_DEPTH' {
                cpus   = 8
                memory = '8.GB'
                time   = '2.h'
            }
            withName: 'BCFTOOLS_MPILEUP|BCFTOOLS_CALL|BCFTOOLS_STATS' {
                cpus   = 16
                memory = '16.GB'
                time   = '8.h'
            }
            withName: 'BCFTOOLS_FILTER' {
                cpus   = 4
                memory = '8.GB'
                time   = '1.h'
            }
            withName: 'SUMMARIZE_GROUP' {
                cpus   = 4
                memory = '8.GB'
                time   = '1.h'
            }
        }
    }

    container {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64'

        process {
            executor = 'local'

            withName: 'PREFETCH|FASTERQ_DUMP' {
                container = 'quay.io/biocontainers/sra-tools:3.0.10--h9f5acd7_0'
                cpus      = 4
                memory    = '4.GB'
                time      = '6.h'
            }
            withName: 'FASTQC_RAW|FASTQC_TRIM' {
                container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
                cpus      = 4
                memory    = '4.GB'
                time      = '1.h'
            }
            withName: 'TRIMMOMATIC' {
                container = 'quay.io/biocontainers/trimmomatic:0.39--hdfd78af_2'
                cpus      = 8
                memory    = '8.GB'
                time      = '2.h'
            }
            withName: 'SPADES' {
                container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1'
                cpus      = 16
                memory    = '32.GB'
                time      = '12.h'
            }
            withName: 'BWA_MEM' {
                container = 'quay.io/biocontainers/mulled-v2-fe8faa35dbf6dc65a0f7f5d4ea12e31a79f73e40:219b6c272b25e7e642ae3ff0bf0c5c81a5135ab4-0'
                cpus      = 16
                memory    = '16.GB'
                time      = '4.h'
            }
            withName: 'SAMTOOLS_SORT|SAMTOOLS_INDEX|SAMTOOLS_DEPTH' {
                container = 'quay.io/biocontainers/samtools:1.19--h50ea8bc_0'
                cpus      = 4
                memory    = '8.GB'
                time      = '1.h'
            }
            withName: 'BCFTOOLS_MPILEUP|BCFTOOLS_CALL|BCFTOOLS_STATS|BCFTOOLS_FILTER' {
                container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0'
                cpus      = 8
                memory    = '8.GB'
                time      = '4.h'
            }
            withName: 'SUMMARIZE_GROUP' {
                container = 'quay.io/biocontainers/bcftools:1.19--h8b25389_0'
                cpus      = 2
                memory    = '4.GB'
                time      = '30.m'
            }
        }
    }
}
